/* Nav Bar */

@charset "UTF-8";
.container-fluid {
    margin: 0;
}

.navbar-brand {
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}

nav .nav-item {
    margin: 5px 10px;
}

nav .nav-item .btn {
    border-color: #3cdb0c;
}

.nav-link {
    font-size: 1rem;
}

.navbar {
    padding: 15%;
    background-color: #000000;
}


/* OffCanvas */

.offcanvas-header,
.offcanvas-body {
    background-color: #181818;
}

.offcanvas-header h5 {
    color: #fff;
}

.offcanvas-body button {
    display: block;
    margin: 80px auto;
}

.twitter-btn,
.camera-btn {
    font-size: 75px;
}

.twitter-info-btn {
    display: inline-block;
    position: relative;
    left: 80px;
    bottom: 157px;
}

.camera-info-btn {
    display: inline-block;
    position: relative;
    left: 80px;
    bottom: 160px;
}


/* .hover-text {
  position: absolute;
  color: #fff;
  background-color: #666;
  width: 200px;
  height: 50px;
  left: 105px;
  display: none;
  
}

.twitter-hover{
  bottom: 130px;
}

.camera-hover{
  bottom: 410px;
}


.twitter-info-btn:hover + .twitter-hover {
  display: block;
  
}

.camera-info-btn:hover + .camera-hover {
  display: block;

} */


/* Text Field */

.click-text {
    display: none;
    position: relative;
    bottom: 160px;
    left: 70px;
}

.click-text input {
    color: #000000;
}

.click-text button {
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: #000000;
    border-radius: 10%;
    border: 0;
}

.click-text i {
    margin: 0;
    color: #3cdb0c;
    padding: 10px;
}


/* Carousel */

.w-100 {
    filter: brightness(40%);
    transition-duration: 0.7s;
}


/* Search bar */

.search-bar * {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.search-bar :root {
    font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
}

button,
input {
    font: 1em Hind, sans-serif;
    line-height: 1.5em;
}

input {
    color: #171717;
}

.search-bar {
    display: flex;
}

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
    transition: all 0.25s ease-out;
}

.search-bar input,
.search-btn {
    width: 3em;
    height: 3em;
}

.search-bar input:invalid:not(:focus),
.search-btn {
    cursor: pointer;
}

.search-bar,
.search-bar input:focus,
.search-bar input:valid {
    width: 100%;
}

.search-bar input:focus,
.search-bar input:not(:focus)+.search-btn:focus {
    outline: transparent;
}

.search-bar {
    margin: auto;
    padding: 1.5em;
    justify-content: center;
    max-width: 40em;
}

.search-bar input {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #171717 inset;
    padding: 0.75em;
    transform: translate(0.5em, 0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
}

.search-bar input:focus,
.search-bar input:valid {
    background: #fff;
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    transform: scale(1);
}

.search-btn {
    background: #171717;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
    transform-origin: 0 50%;
}

.search-btn:before,
.search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
}

.search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
}

.search-btn:after {
    background: #f1f1f1;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em, 0) rotate(45deg);
    transform-origin: 0 50%;
}

.search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
}


/* Active state */

.search-bar input:focus+.search-btn,
.search-bar input:valid+.search-btn {
    background: #282727;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
}

.search-bar input:focus+.search-btn:before,
.search-bar input:focus+.search-btn:after,
.search-bar input:valid+.search-btn:before,
.search-bar input:valid+.search-btn:after {
    opacity: 1;
}

.search-bar input:focus+.search-btn:hover,
.search-bar input:valid+.search-btn:hover,
.search-bar input:valid:not(:focus)+.search-btn:focus {
    background: #3cdb0c;
}

.search-bar input:focus+.search-btn:active,
.search-bar input:valid+.search-btn:active {
    transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
    body,
    input {
        color: #f1f1f1;
    }
    body {
        background: #171717;
    }
    .search-bar input {
        box-shadow: 0 0 0 0.4em #f1f1f1 inset;
    }
    .search-bar input:focus,
    .search-bar input:valid {
        background: #3d3d3d;
        box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }
    .search-btn {
        background: #f1f1f1;
    }
}


/* Movie-section */

.uk-section {
    background-color: #666
}

.owl-carousel {
    position: relative;
    margin-top: 30px;
}

.owl-nav {
    position: absolute;
    top: -60px;
    left: 10px;
}

.uk-card-primary {
    border-radius: 8px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.uk-card> :last-child {
    margin-top: 0;
    margin-bottom: 10px
}

p {
    margin-top: 30px;
    margin-bottom: 0;
}

.owl-next {
    background: #3286f0;
}

.owl-theme .owl-nav [class*='owl-'] {
    background: #383838;
}

.owl-dots {
    margin-top: 30px;
}

.uk-card-title {
    padding-bottom: 20px
}


/******* Fonts Import Start **********/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/********* Fonts Face CSS End **********/


/******* Common Element CSS Start ******/

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
    border: 0px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

a:focus,
a:active,
a:visited,
a:hover {
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #e73700;
}

h2 {
    margin-bottom: 48px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
}

h3 {
    margin: 0 0 10px;
    font-size: 28px;
    line-height: 36px;
}


/******* Common Element CSS End *********/


/* -------- title style ------- */

.line-title {
    position: relative;
    width: 400px;
    color: #fff;
}


/* .line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}
.line-title::before {
  width: 100%;
  background: #f2f2f2;
}
.line-title::after {
  width: 32px;
  background: #e73700;
} */


/******* Middle section CSS Start ******/


/* -------- Landing page ------- */

.game-section {
    padding: 60px 50px;
}

.game-section .owl-stage {
    margin: 15px 0;
    display: flex;
    display: -webkit-flex;
}

.game-section .item {
    margin: 0 15px 60px;
    width: 320px;
    height: 400px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    background: #343434 no-repeat center center / cover;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.game-section .item.active {
    width: 500px;
    box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}

.game-section .item:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.game-section .item-desc {
    margin-bottom: 40px;
    padding: 0 24px 12px;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform: translateY(calc(100% - 54px));
    -webkit-transform: translateY(calc(100% - 54px));
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.game-section .item.active .item-desc {
    transform: none;
    -webkit-transform: none;
}

.game-section .item-desc p {
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px);
    transition: all 0.4s ease-in-out 0.2s;
    -webkit-transition: all 0.4s ease-in-out 0.2s;
}

.game-section .item.active .item-desc p {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.game-section .owl-theme.custom-carousel .owl-dots {
    margin-top: -20px;
    position: relative;
    z-index: 5;
}


/******** Middle section CSS End *******/


/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
    h2 {
        margin-bottom: 32px;
    }
    h3 {
        margin: 0 0 8px;
        font-size: 24px;
        line-height: 32px;
    }
    /* -------- Landing page ------- */
    .game-section {
        padding: 50px 30px;
    }
    .game-section .item {
        margin: 0 12px 60px;
        width: 260px;
        height: 360px;
    }
    .game-section .item.active {
        width: 400px;
    }
    .game-section .item-desc {
        transform: translateY(calc(100% - 46px));
        -webkit-transform: translateY(calc(100% - 46px));
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    h2 {
        margin-bottom: 32px;
    }
    h3 {
        margin: 0 0 8px;
        font-size: 24px;
        line-height: 32px;
    }
    .line-title {
        width: 330px;
    }
    /* -------- Landing page ------- */
    .game-section {
        padding: 50px 30px 40px;
    }
    .game-section .item {
        margin: 0 12px 60px;
        width: 240px;
        height: 330px;
    }
    .game-section .item.active {
        width: 360px;
    }
    .game-section .item-desc {
        transform: translateY(calc(100% - 42px));
        -webkit-transform: translateY(calc(100% - 42px));
    }
}

@media (max-width: 767px) {
    body {
        font-size: 14px;
    }
    h2 {
        margin-bottom: 20px;
    }
    h3 {
        margin: 0 0 8px;
        font-size: 19px;
        line-height: 24px;
    }
    .line-title {
        width: 250px;
    }
    /* -------- Landing page ------- */
    .game-section {
        padding: 30px 15px 20px;
    }
    .game-section .item {
        margin: 0 10px 40px;
        width: 200px;
        height: 280px;
    }
    .game-section .item.active {
        width: 270px;
        box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    }
    .game-section .item-desc {
        padding: 0 14px 5px;
        transform: translateY(calc(100% - 42px));
        -webkit-transform: translateY(calc(100% - 42px));
    }
}

.game-section {
    background-image: url(/static/images/background.jpg);
}